<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Skill Set</h1>
    <ul>
        <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
            <%= s.done ? 'Has skill' : 'Needs help' %>
        </li>
        <% }); %>
    </ul>
</body>
</html>